ion-col {
  display: flex;
  justify-content: center;
}

ion-accordion-group {
  width: 80%;
  margin-top: 20px;

  ion-accordion {
    background: transparent;
    box-shadow: 0px 11px 12px #141414;
    border-radius: 16px;
    margin-bottom: 32px;

    ion-label {
      font-size: 20px;
    }

    .description {
      font-size: 18px;
    }
  }

  .header {
    border-radius: 15px;
    margin: 10px 0px;
  }

  ion-card {
    margin: 0px;
    background: #272726;

    .description {
      ul {
        margin-top: 10px;
      }
    }

    img {
      border-radius: 15px;
      max-width: 150px;
      max-height: 150px;
    }
  }
}

@media all and (max-width: 992px) {
  ion-accordion-group {
    width: 90%;
  }
}
