<ion-title>Experiencia Laboral</ion-title>
<div class="subtitle-separator">
  <div class="bar" style="width: 360px"></div>
</div>

<ng-container *ngFor="let experience of experiences; let i = index">
  <div class="experience-section">
    <ion-card>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="2" class="col-date">
          <p class="date">{{ experience.working_period }}</p>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="9" size-lg="9" size-xl="10">
          <ion-card-content>
            <h2>{{ experience.job_position }}</h2>
            <h3>{{ experience.job_enterprice }}</h3>
            <h4 *ngIf="experience.showFullDescription">{{ experience.fullDescription }}</h4>
            <h4 *ngIf="!experience.showFullDescription">{{ experience.truncatedDescription }}
              <span *ngIf="experience.truncatedDescription !== experience.fullDescription" class="more-text"
                (click)="showFullDescription(i)">ver más</span>
            </h4>
            <div class="skills-section">
              <ng-container *ngFor="let skill of experience.skills">
                <ion-chip color="success">{{ skill }}</ion-chip>
              </ng-container>
            </div>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ng-container>

<script type="application/ld+json" [innerHTML]="jsonLdScript"></script>