.experience-section {
  --background: transparent;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-card {
    box-shadow: 0px 11px 12px #151814;
    --background: transparent;
    padding-top: 24px;

    .col-date {
      padding: 10px 24px;
    }

    .date {
      font-size: 16px;
    }

    ion-card-content {
      padding-top: 0px;

      h2 {
        font-size: 24px;
        color: #aed285;
      }

      h3 {
        font-size: 18px;
        color: #d4ddca;
      }

      h4 {
        font-size: 16px;
        color: #979797;
      }

      .skills-section {
        margin-top: 16px;
      }

      .list-skills {
        text-align: center;
        --background: transparent;

        .item-inner {
          padding: unset;
        }

        ion-label {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
        }
      }


    }
  }

  ion-card:hover {
    transform: translateY(-2px);
  }
}

@media all and (max-width: 992px) {
  .info-card {
    width: 90%;
  }
}