<ion-title>Experiencia Laboral</ion-title>
<div class="subtitle-separator">
  <div class="bar" style="width: 360px"></div>
</div>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item
            slot="header"
            color="light"
            class="header"
            lines="none"
            color="transparent"
          >
            <ion-label>Desarrollador FullStack Senior</ion-label
            ><span>Feb 2021 - Actualmente</span>
          </ion-item>
          <div slot="content">
            <ion-card class="ion-padding">
              <ion-row>
                <ion-col size="3">
                  <img
                    src="https://pbs.twimg.com/profile_images/860196618209042432/KifSpWpu_400x400.jpg"
                    alt="TBTB Global Logo"
                  />
                </ion-col>
                <ion-col size="9" class="display-block">
                  <p class="title">TBTB-GLOBAL</p>
                  <br />
                  <div class="description-business">
                    Somos TBTB Global, una empresa dedicada a ayudar a otras
                    empresas a mejorar sus negocios y el estilo de vida de los
                    pacientes que padecen cáncer y enfermedades raras.
                  </div>
                </ion-col>
                <ion-col size="12">
                  <div class="description">
                    Debido a mi buen rendimiento dentro de la organización y el
                    ascenso conseguido, logre seguir consolidando diversas
                    habilidades donde he aportado en el fortalecimiento del
                    departamento de IT, algunas de las actividades que se me han
                    encomendado son:

                    <ul>
                      <li>
                        Liderazgo en Proyectos de gran escalabilidad e impacto
                        para Suramérica.
                      </li>
                      <li>
                        Implementación de metodologías DevOps en Gitlab y Azure.
                      </li>
                      <li>Generación de documentación de calidad.</li>
                      <li>Clean Code.</li>
                      <li>Upgrade de proyectos.</li>
                      <li>
                        Implementación de metodologías de seguridad como OWASP.
                      </li>
                      <li>
                        Creación y mejoras de procesos para la lógica funcional
                        en el software.
                      </li>
                      <li>
                        Creación e implementación de diseños UI & UX en Adobe
                        XD.
                      </li>
                      <li>
                        Desarrollo de aplicaciones multiplataforma (Web, IOS,
                        Android).
                      </li>
                      <li>
                        Desarrollo de funcionalidades sobre factores de
                        autenticación biométrica.
                      </li>
                      <li>Diseño y desarrollo de api's rest.</li>
                      <li>Diseño y desarrollo de dashboards Interactivos.</li>
                      <li>
                        Diseño, desarrollo e implementación de bases de datos
                        relacionales en SQL Server.
                      </li>
                      <li>
                        Implementación de estándares y buenas practicas de
                        desarrollo.
                      </li>
                      <li>
                        Implementación de metodologías agiles como Scrum y XP.
                      </li>
                    </ul>
                  </div>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item
            slot="header"
            color="light"
            class="header"
            lines="none"
            color="transparent"
          >
            <ion-label>Desarrollador FullStack</ion-label
            ><span>Feb 2020 - Feb 2021</span>
          </ion-item>
          <div slot="content">
            <ion-card class="ion-padding">
              <ion-row>
                <ion-col size="3">
                  <img
                    src="https://pbs.twimg.com/profile_images/860196618209042432/KifSpWpu_400x400.jpg"
                    alt="TBTB Global Logo"
                  />
                </ion-col>
                <ion-col size="9" class="display-block">
                  <p class="title">TBTB-GLOBAL</p>
                  <br />
                  <div class="description-business">
                    Somos TBTB Global, una empresa dedicada a ayudar a otras
                    empresas a mejorar sus negocios y el estilo de vida de los
                    pacientes que padecen cáncer y enfermedades raras.
                  </div>
                </ion-col>
                <ion-col size="12">
                  <div class="description">
                    En base a mis conocimientos y habilidades, he podido aportar
                    soluciones en beneficio de las necesidades que demanda la
                    empresa, consiguiendo destacar en diversos temas, algunas de
                    mis contribuciones se han enfocado al:

                    <ul>
                      <li>
                        Crear y mejorar procesos para la lógica funcional en el
                        software.
                      </li>
                      <li>Crear y implementar diseños UI & UX.</li>
                      <li>
                        Desarrollar aplicaciones multiplataforma (Web, IOS,
                        Android).
                      </li>
                      <li>
                        Desarrollar funcionalidades sobre factores de
                        autenticación biométrica.
                      </li>
                      <li>Diseñar y desarrollar api's rest.</li>
                      <li>Diseñar y desarrollar dashboards Interactivos.</li>
                      <li>
                        Diseñar y implementar bases de datos relacionales.
                      </li>
                      <li>
                        Implementar estándares y buenas practicas de desarrollo.
                      </li>
                      <li>Implementar metodologías agiles.</li>
                    </ul>
                  </div>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>
</ion-grid>
