<ion-title>Proyectos</ion-title>
<div class="subtitle-separator">
  <div class="bar" style="width: 200px"></div>
</div>

<ion-grid class="info-card">
  <ion-row>
    <ng-container *ngFor="let project of (viewAll ? projects : projects.slice(0, 6))">
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="4">
        <ion-card>
          <a href="{{ project.url }}" attr.aria-label="{{ project.name }} | Osman Armando Jimenez Cortes"
            target="_blank">
            <img src="assets/img/Portafolio/caratulas/{{ project.url_photo }}"
              alt="{{ project.name }} | Osman Armando Jimenez Cortes" />
          </a>
          <ion-card-header>
            <ion-card-title class="text-c">{{ project.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="text-c">
            <ng-container *ngFor="let skill of project.skills">
              <ion-chip color="success">{{ skill }}</ion-chip>
            </ng-container>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>
  <div class="centered-button">
    <button *ngIf="projects.length > 6 && !viewAll" (click)="viewMore()" class="button-full">
      Ver más
    </button>
  </div>

</ion-grid>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "Proyectos de Osman Jimenez",
  "itemListElement": [
    {% for project in pagedProjects %}
    {
      "@type": "CreativeWork",
      "name": "{{ project.name }}",
      "url": "{{ project.url }}",
      "image": "assets/img/Portafolio/caratulas/{{ project.url_photo }}",
      "description": "Este proyecto realizado por Osman Jimenez incluye las siguientes habilidades: {% for skill in project.skills %}{{ skill }}{% if not loop.last %}, {% endif %}{% endfor %}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
</script>