.info-card {
  width: 80%;
  max-width: 1200px;

  ion-col {
    margin-bottom: 24px;

    ion-card {
      height: 95%;
      width: 90%;
      background: transparent;

      img {
        min-height: 224px;
      }
    }

  }
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;

  .button-full {
    width: 90%;
    background: #aed285;
    color: #1d4f45;
    height: 42px;
    max-width: 412px;
    border-radius: 15px;
  }
}

@media all and (max-width: 992px) {
  .info-card {
    width: 90%;
  }
}