ion-card {
  box-shadow: 0px 11px 12px #ebe9f3;
  width: 70%;

  .profile {
    display: flex;
    justify-content: center;
  }

  ion-col {
    padding: 16px;
    text-align: justify;

    ion-card-title {
      padding-bottom: 16px;
    }

    .description {
      font-size: 17px;
      line-height: 150%;
      color: #6e7373;
    }

    .social-media {
      button {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: 16px 12px 0px 0px;
      }
    }

    img {
      border-radius: 50%;
      width: 100%;
      max-width: 200px;
      border: 0;
    }
  }
}

@media all and (max-width: 992px) {
  ion-card {
    width: 90%;

    .profile {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
