<ion-card>
  <ion-card-content>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col
          size-xs="12"
          size-sm="12"
          size-md="12"
          size-lg="8"
          size-xl="8"
          class="description"
        >
          <ion-card-title>Sobre Mi</ion-card-title>

          Me alegro de conocerte, soy Ingeniero de Sistemas graduado de la
          Universidad de Cundinamarca, me especializo en el ámbito del
          desarrollo web, con más destreza en el diseño de interfaces graficas
          (UX y UI) aunque también poseo buenos conocimientos para construir la
          lógica operacional y funcional en el Backend, he participado en
          eventos de desarrollo como el Google Hash Code 2020, me considero una
          persona con creatividad y curiosidad, la cual siempre está al tanto de
          los últimos avances de esta revolución tecnológica en la que estamos
          viviendo.

          <div class="social-media">
            <ng-container *ngFor="let social of iconSocial">
              <a href="{{ social.link }}" target="_blank">
                <button>
                  <ion-icon slot="icon-only" [name]="social.icon"></ion-icon>
                </button>
              </a>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="4" size-xl="4" class="profile">
          <img
            src="assets/img/header/profile.jpg"
            alt="Osman Armando Jimenez Cortes"
          />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
