ion-card {
  .profile {
    display: flex !important;
    justify-content: center;
  }

  ion-col {
    padding: 16px;
    text-align: justify;
    display: block !important;

    ion-card-title {
      font-size: 36px;
    }

    ion-card-subtitle {
      padding-bottom: 16px;
      font-size: 24px;
      color: #aed285;
    }

    .description {
      font-size: 18px;
      line-height: 150%;
      color: #6e7373;
    }

    .social-media-links {
      margin-top: 8px;
      button {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: 16px 12px 0px 0px;
        background: #aed285;
        color: #1d4f45;
      }
    }

    img {
      border-radius: 50%;
      width: 100%;
      max-width: 200px;
      border: 0;
      height: fit-content;
      margin-top: 36px;
    }
  }
}

@media all and (max-width: 992px) {
  ion-card {
    width: 90%;
  }
}
