ion-title {
  text-align: center;
  margin-top: 24px;
}

.info-card {
  width: 80%;
  max-width: 1200px;
  --background: transparent;
  padding: 16px;

  ion-card {
    --background: transparent;
    text-align: center;
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    i {
      font-size: 26px;
    }

    img {
      width: 24px !important;
    }

    .list-tools {
      text-align: center;
      --background: transparent;

      .item-inner {
        padding: unset;
      }

      ion-label {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
    }
  }

}

@media all and (max-width: 992px) {
  .info-card {
    width: 90%;
  }
}

@media all and (max-width: 512px) {
  ion-card {
    width: 90%;
    display: list-item !important;
    padding-top: 18px !important;
  }
}