<ion-title>Herramientas</ion-title>
<div class="subtitle-separator">
  <div class="bar" style="width: 260px"></div>
</div>

<ion-grid class="info-card">
  <ion-row>
    <ng-container *ngFor="let tool of tools">
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="3">
        <ion-card>
          <i [class]="tool.icon" *ngIf="tool.icon !== ''"></i>
          <img src="assets/icons/{{ tool.src }}" *ngIf="tool.icon === ''" />
          <ion-item lines="none" class="list-tools">
            <ion-label> {{ tool.name }}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-grid>
