/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-color-transparent: transparent;
  --ion-color-transparent-rgb: 254, 205, 211;
  --ion-color-transparent-contrast: #fff;
  --ion-color-transparent-contrast-rgb: 0, 0, 0;
  --ion-color-transparent-shade: transparent;
  --ion-color-transparent-tint: transparent;
}

.ion-color-transparent {
  --ion-color-base: var(--ion-color-transparent);
  --ion-color-base-rgb: var(--ion-color-transparent-rgb);
  --ion-color-contrast: var(--ion-color-transparent-contrast);
  --ion-color-contrast-rgb: var(--ion-color-transparent-contrast-rgb);
  --ion-color-shade: var(--ion-color-transparent-shade);
  --ion-color-tint: var(--ion-color-transparent-tint);
}

div[slot="content"] {
  background: rgba(var(--ion-color-transparent-rgb), 0.25);
}

ion-content {
  --background: linear-gradient(
    to top,
    #151814,
    #1a1a1a,
    #202020,
    #262625,
    #2c2c2b
  );
}

.text-c {
  text-align: center;
}

ion-title {
  text-align: center;
  margin-top: 72px;
  color: #ffffff;
  font-size: 36px;
}

ion-col {
  display: flex;
  justify-content: center;
}

ion-card {
  background: transparent;
  box-shadow: 0px 11px 12px #151814;
  width: 80%;
  max-width: 1200px;
}

ion-card-title {
  color: #ffffff;
}

app-navbar {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #2e3192, #1bffff);
  background-repeat: no-repeat;
  height: 600px;
  max-height: 33%;
  align-items: center;

  .box {
    border: 4px solid #fff;
    height: 122px;

    .title {
      text-align: center;
      margin: 24px;
      line-height: 24px;

      ion-label {
        font-size: 48px;
        color: #fff;

        span {
          font-size: 24px;
        }
      }
    }
  }
}

app-card-profile {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.subtitle-separator {
  display: flex;
  justify-content: center;

  .bar {
    background: #b7f397;
    height: 10px;
    border-radius: 16px;
    margin-bottom: 24px;
  }
}

ion-chip.ion-color.ion-color-success.md.ion-activatable.hydrated {
  color: #aed285;
  background: #45483f;
}

.display-block {
  display: block !important;
}

ul li::before {
  content: "\2022";
  color: #aed285;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
