.info-card {
  width: 80%;
  max-width: 1200px;
  --background: transparent;
  padding: 16px;

  ion-card {
    --background: transparent;
    text-align: center;
    margin: 16px 4px;
    padding-top: 24px;

    i {
      font-size: 64px;
    }

    img {
      width: 66px !important;
    }

    .list-skills {
      text-align: center;
      --background: transparent;

      .item-inner {
        padding: unset;
      }

      ion-label {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
    }
  }

}

@media all and (max-width: 992px) {
  .info-card {
    width: 90%;
  }
}